
.table{
  display:grid;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 2fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: 
    'activeCardArea boardArea historyArea'
    'deckArea boardArea historyArea'
    'scoreArea boardArea historyArea'
    'recordArea boardArea historyArea';
  width: 70vw;
}

.active-card {
  grid-area: activeCardArea;
}

.card-row {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-top: 10px;
}

.active-card,
.card {
  width: 75px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid grey;
}

.deck {
  grid-area: deckArea;
  background-color: aqua;
}

.score {
  grid-area: scoreArea;
  background-color: aqua;
}

.record {
  grid-area: recordArea;
  background-color: aqua;
}

.board {
  grid-area: boardArea;
  background-color: white;
}

.history {
  grid-area: historyArea;
  background-color: coral;
  height:100vh;
}

.empty-card-space {
  width: 75px;
  height: 120px;
  background-color: white;
  border-radius: 10px;
  border: 2px dotted black;
}
